<div class="w-full flex justify-center bg-gray-800">
    <div class="2xl:w-[70%] xl:w-[80%] w-[95%] h-20 text-white flex items-center justify-between">
        <span class="font-bold text-3xl">PIZZA DELIVERY APP</span>

        <ul class="flex gap-5">
            <li>
                <i (click)="displayOrderDetails = !displayOrderDetails" class="pi pi-shopping-cart cursor-pointer"
                    style="font-size: 32px;"></i>
            </li>

            @if (currentUser) {
            <li>
                <i (click)="op.toggle($event)" class="pi pi-user cursor-pointer" style="font-size: 32px;"></i>
            </li>
            <p-overlayPanel #op>
                <span class="cursor-pointer p-3" (click)="onSignOutClick()">
                    Log Out
                    <i class="pi pi-sign-out"></i>
                </span>
            </p-overlayPanel>
            }
        </ul>
    </div>
</div>


<div class="w-full flex justify-center mt-10">
    <div class="2xl:w-[65%] xl:w-[75%] w-[90%] flex gap-10">
        <div class="flex-1 w-full flex flex-col gap-10 px-5">
            <div class="w-full flex gap-5 ">
                <div (click)="handleFilterData('pizza')" class="h-36 w-full rounded-xl items-center text-white cursor-pointer
                bg-[url('/assets/images/pizza-landscape.jpg')] bg-cover bg-bottom relative"
                    style="user-select: none; -webkit-user-drag: none;">
                    <div
                        class="bg-black w-full h-full opacity-20 hover:opacity-50 transition duration-350 rounded-xl z-10">
                    </div>
                    <div class="flex gap-4 absolute top-0 p-10 pointer-events-none items-center h-full">
                        <span class="text-5xl">🍕</span>
                        <span class="font-bold text-4xl" style="text-shadow: 3px 3px 5px black;">PIZZAS</span>
                    </div>
                </div>

                <div (click)="handleFilterData('drink')" class="h-36 w-full rounded-xl items-center text-white cursor-pointer
                bg-[url('/assets/images/soda_landscape.jpg')] bg-cover bg-bottom relative"
                    style="user-select: none; -webkit-user-drag: none;">
                    <div
                        class="bg-black w-full h-full opacity-20 hover:opacity-50 transition duration-350 rounded-xl z-10">
                    </div>
                    <div class="flex gap-4 absolute top-0 p-10 pointer-events-none items-center h-full">
                        <span class="text-5xl">🥤</span>
                        <span class="font-bold text-4xl" style="text-shadow: 3px 3px 5px black;">DRINKS</span>
                    </div>
                </div>
            </div>
            <div class="w-full grid gap-10" [ngClass]="displayOrderDetails ? 'grid-cols-3' : 'grid-cols-4'">
                @for (product of productsListToShow; track $index) {
                <div class="w-full custom-shadow rounded-lg p-6 h-120 flex flex-col justify-between gap-3">
                    <div class="flex flex-col gap-2">
                        <img [src]="product.imageFile.downloadUrl" class="h-42 bg-cover object-center" alt="">
                        <span class="font-bold text-xl text-blue-400">
                            {{ product.name }}
                        </span>
                        <span class="text-lg font-thin"
                            [ngClass]="displayOrderDetails ? 'line-clamp-5' : 'line-clamp-6'">
                            {{ product.description }}
                        </span>
                    </div>

                    <div class="flex flex-col">
                        <button (click)="addProductToCart(product)" pButton label="ADD" size="small" severity="info"
                            icon="pi pi-cart-plus !text-2xl" iconPos="right" class="!font-black !text-lg"></button>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="transition-all duration-350 overflow-hidden h-[calc(100vh-200px)] rounded-lg shadow-2xl" [ngClass]="{
          'w-64 custom-shadow': displayOrderDetails,
          'w-0': !displayOrderDetails
            }">

            <div class="p-5">
                @if (displayOrderDetails) {
                @if (!currentUser) {
                <div class="flex flex-col gap-4">
                    <span class="font-semibold text-center text-xl text-red-400">
                        You need to log in before adding items to your cart
                    </span>

                    <button routerLink="login" pButton label="LOG IN" severity="contrast"></button>
                </div>

                }
                @else {
                <app-side-cart-details [userId]="currentUser.id"></app-side-cart-details>
                }
                }
            </div>
        </div>
    </div>
</div>