<div class="w-full flex justify-center bg-gray-800">
    <div class="2xl:w-[70%] xl:w-[80%] w-[95%] h-20 text-white flex items-center justify-between">
        <span class="font-bold text-3xl">PIZZA DELIVERY APP</span>

        <ul class="flex gap-5">
            <li>
                <i (click)="displayOrderDetails = !displayOrderDetails" class="pi pi-shopping-cart cursor-pointer"
                    style="font-size: 32px;"></i>
            </li>
        </ul>
    </div>
</div>


<div class="w-full flex justify-center mt-10">
    <div class="2xl:w-[65%] xl:w-[75%] w-[90%] flex gap-10">
        <div class="flex-1 w-full h-64 px-5 flex gap-5">
            <div class="h-36 w-full rounded-xl items-center text-white cursor-pointer
            bg-[url('/assets/images/pizza-landscape.jpg')] bg-cover bg-bottom relative"
                style="user-select: none; -webkit-user-drag: none;">
                <div class="bg-black w-full h-full opacity-20 hover:opacity-50 transition duration-350 rounded-xl z-10">
                </div>
                <div class="flex gap-4 absolute top-0 p-10 pointer-events-none items-center h-full">
                    <span class="text-5xl">🍕</span>
                    <span class="font-bold text-4xl" style="text-shadow: 3px 3px 5px black;">PIZZAS</span>
                </div>
            </div>

            <div class="h-36 w-full rounded-xl items-center text-white cursor-pointer
            bg-[url('/assets/images/soda_landscape.jpg')] bg-cover bg-bottom relative"
                style="user-select: none; -webkit-user-drag: none;">
                <div class="bg-black w-full h-full opacity-20 hover:opacity-50 transition duration-350 rounded-xl z-10">
                </div>
                <div class="flex gap-4 absolute top-0 p-10 pointer-events-none items-center h-full">
                    <span class="text-5xl">🥤</span>
                    <span class="font-bold text-4xl" style="text-shadow: 3px 3px 5px black;">DRINKS</span>
                </div>
            </div>
        </div>

        <div class="transition-all duration-350 overflow-hidden h-[calc(100vh-200px)] rounded shadow-2xl" [ngClass]="{
          'w-64 border border-gray-700': displayOrderDetails,
          'w-0': !displayOrderDetails
            }">

            <div class="px-3 py-3">
                @if (displayOrderDetails) {
                Order Details
                }
            </div>
        </div>
    </div>
</div>