<p-dialog maskStyleClass="backdrop-blur" [visible]="true" styleClass="2xl:w-[65%] lg:w-[75%] w-[90%] h-screen"
    (onHide)="onDismiss.emit()" (visibleChange)="onDismiss.emit()">
    <ng-template #header>
        <span class="font-bold text-2xl">
            @if (product) {
            UPDATE
            }@else {
            REGISTER
            }
        </span>
    </ng-template>

    @if (productForm) {
    <form [formGroup]="productForm">
        <div class="flex flex-col gap-5">
            <div class="h-full w-full">
                @if (product && !replaceCurrentImage) {
                <div class="flex flex-col justify-center items-center gap-5">
                    <img [src]="product.imageFile.downloadUrl" class="w-54" alt="">
                    <button (click)="replaceCurrentImage = true" pButton severity="danger" label="DELETE"
                        icon="pi-trash pi" iconPos="right"></button>
                </div>
                }@else {
                <app-image-file-uploader [file]="productImageFile"
                    (onFileChange)="setImageFile($event)"></app-image-file-uploader>
                }
            </div>

            <div class="flex xl:flex-row flex-col gap-5">
                <div class="flex-1 flex flex-col gap-6 p-4">
                    <div class="flex flex-col gap-2">
                        <label for="typeOptions" class="font-bold">TYPE</label>
                        <p-select [disabled]="product !== undefined" id="tpyeOptions" name="type"
                            [options]="typeOptions" [(ngModel)]="currentType" (ngModelChange)="resetFormGroup($event)"
                            optionValue="value" optionLabel="label" placeholder="Select the product type" class="w-full"
                            [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="name" class="font-bold">NAME</label>
                        <input pInputText id="name" formControlName="name" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="description" class="font-bold">DESCRIPTION</label>
                        <textarea pInputText id="description" formControlName="description"></textarea>
                    </div>
                </div>

                <div class="flex-1 flex flex-col gap-4 p-4 h-full">
                    @switch (currentType) {
                    @case ('pizza') {

                    <app-pizza-form [formGroup]="productForm" [sizes]="sizes" [toppings]="toppings"></app-pizza-form>
                    }
                    @case ('drink') {
                    <app-drink-form [formGroup]="productForm"></app-drink-form>
                    }
                    }
                </div>
            </div>
        </div>
    </form>
    }


    <ng-template #footer>
        <div class="flex justify-end">
            @if (product) {
            <p-button
                [disabled]="productForm.invalid || (replaceCurrentImage && productImageFile === undefined) || isLoading"
                label="UPDATE" severity="contrast" (onClick)="handleUpdateProduct()"></p-button>
            }@else {
            <p-button [disabled]="productForm.invalid || productImageFile === undefined || isLoading" label="REGISTER"
                severity="contrast" (onClick)="handleRegisterProduct()"></p-button>
            }
        </div>
    </ng-template>
</p-dialog>