<div class="flex flex-col gap-2">
    <label for="typeOptions" class="font-bold">TYPE</label>
    <p-select id="tpyeOptions" name="type" [options]="typeOptions" [(ngModel)]="type"
        (ngModelChange)="typeChange.emit($event)" optionValue="value" optionLabel="label"
        placeholder="Select the product type" class="w-full" [ngModelOptions]="{standalone: true}" />
</div>

<div class="flex flex-col gap-2">
    <label for="name" class="font-bold">NAME</label>
    <input pInputText id="name" formControlName="name" />
</div>

<div class="flex flex-col gap-2">
    <label for="description" class="font-bold">DESCRIPTION</label>
    <textarea pInputText id="description" formControlName="description"></textarea>
</div>