<div class="bg-[url('/assets/images/pizza-background.jpg')] bg-cover bg-center py-20 w-full flex flex-col gap-20 justify-center items-center"
    style="user-select: none; -webkit-user-drag: none;">

    <h1 routerLink="home" class="z-10 text-center text-white text-6xl font-bold cursor-pointer">Pizza Delivery App</h1>

    <div class="blurred-background w-[55%] border border-gray-100">
        <div class="content p-10 text-white">
            <h3 class="text-center text-4xl font-bold mb-20">
                Sign Up
            </h3>

            <form [formGroup]="registrationFormGroup" autocomplete="off">
                <div class="flex gap-3">
                    <div class="flex flex-col gap-2 mb-5">
                        <label for="firstName"><strong>First Name</strong></label>
                        <input pInputText id="firstname" aria-describedby="username-help" formControlName="firstName" />
                    </div>

                    <div class="flex flex-col gap-2 mb-5">
                        <label for="lastName"><strong>Last Name</strong></label>
                        <input pInputText id="lastname" aria-describedby="username-help" formControlName="lastName" />
                    </div>
                </div>

                <div class="flex gap-3 w-[70%]">
                    <div class="flex-1 flex flex-col gap-2 mb-5">
                        <label for="email"><strong>Email</strong></label>
                        <input pInputText id="email" aria-describedby="username-help" formControlName="email" />
                    </div>

                    <div class="flex flex-col gap-2 mb-10">
                        <label for="password"><strong>Password</strong></label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" id="password"
                            formControlName="password" [feedback]="false" toggleMask />
                    </div>

                    <div class="flex flex-col gap-2 mb-10">
                        <label for="password"><strong>Confirm Password</strong></label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" id="confirmPassword"
                            formControlName="confirmPassword" [feedback]="false" toggleMask />
                        @if (registrationFormGroup.get('confirmPassword')?.errors?.['mismatch']) {
                        Passwords do not match.
                        }
                    </div>
                </div>

                <div>
                    <label for="geolocation">
                        <strong>
                            Delivery Address
                        </strong>
                    </label>

                    <app-delivery-map [deliveryLocation]="this.deliveryLocation"></app-delivery-map>
                </div>

                <div class="flex">
                    <p-button (onClick)="this.onRegisterSubmit()"
                        [disabled]="!this.registrationFormGroup.valid || isLoading" label="REGISTER"
                        styleClass="w-[full]" class="py-2 rounded-xl font-bold">
                    </p-button>
                </div>

                <span>You already have an account? <a class="font-bold cursor-pointer"
                        routerLink="/login">Register</a></span>

            </form>
        </div>
    </div>
</div>

<p-toast />