<div class="bg-[url('/assets/images/pizza-background.jpg')] bg-cover bg-center h-screen w-full flex flex-col gap-20 justify-center items-center"
    style="user-select: none; -webkit-user-drag: none;">

    <h1 routerLink="home" class="z-10 text-center text-white text-6xl font-bold cursor-pointer">Pizza Delivery App</h1>

    <div class="blurred-background w-[55%] border border-gray-100">
        <div class="content p-10 text-white">
            <h3 class="text-center text-4xl font-bold mb-20">
                Register
            </h3>

            <form [formGroup]="loginFormGroup" autocomplete="off">
                <div class="flex gap-3">
                    <div class="flex flex-col gap-2 mb-5">
                        <label for="username"><strong>First Name</strong></label>
                        <input pInputText id="username" aria-describedby="username-help" formControlName="email" />
                    </div>

                    <div class="flex flex-col gap-2 mb-5">
                        <label for="username"><strong>Last Name</strong></label>
                        <input pInputText id="username" aria-describedby="username-help" formControlName="email" />
                    </div>
                </div>

                <div class="flex gap-3 w-[70%]">
                    <div class="flex-1 flex flex-col gap-2 mb-5">
                        <label for="username"><strong>Email</strong></label>
                        <input pInputText id="username" aria-describedby="username-help" formControlName="email" />
                    </div>

                    <div class="flex flex-col gap-2 mb-10">
                        <label for="password"><strong>Password</strong></label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" id="password"
                            formControlName="password" [feedback]="false" toggleMask />
                    </div>

                    <div class="flex flex-col gap-2 mb-10">
                        <label for="password"><strong>Confirm Password</strong></label>
                        <p-password styleClass="w-full" inputStyleClass="w-full" id="password"
                            formControlName="password" [feedback]="false" toggleMask />
                    </div>
                </div>

                <div>
                    <label for="geolocation">
                        <strong>
                            Delivery Address
                        </strong>
                    </label>
                </div>

                <p-button (onClick)="this.onLoginSubmit()" [disabled]="!this.loginFormGroup.valid" label="LOGIN"
                    styleClass="w-full" class="py-2 rounded-xl font-bold">
                </p-button>

                <span>You already have an account? <a class="font-bold cursor-pointer"
                        routerLink="/login">Login</a></span>

            </form>
        </div>
    </div>

</div>

<p-toast />