<p-dialog header="ORDER" [modal]="true" [visible]="true" [style]="{ width: '50%', height: '100vh' }"
    (visibleChange)="onDismiss.emit()">
    <div class="flex flex-col px-10 py-5 gap-10">
        <div class="flex flex-col gap-2">
            <span class="p-text-secondary block text-3xl">Where are you at?</span>
            <p-selectbutton size="large" [options]="deliveryTypes" [(ngModel)]="currentDeliveryType" optionLabel="label"
                optionValue="value" aria-labelledby="basic">
                <ng-template #item let-item>
                    <i [class]="item.icon"></i>
                    {{ item.label }}
                </ng-template>
            </p-selectbutton>
        </div>

        @if (currentDeliveryType === 0) {
        <app-delivery-map [deliveryLocation]="deliveryLocation"></app-delivery-map>
        }

        <h2 class="text-3xl mb-5 font-bold">PRODUCTS</h2>
        @for (item of cart.items; track $index) {
        <div class="w-full flex gap-4">
            <img [src]="item.product.imageFile.downloadUrl" alt="" class="w-[20%] h-[100%]">

            <div class="w-full flex justify-between">
                <div class="w-full flex flex-col gap-2">
                    <span class="text-blue-500 font-bold text-lg">{{ item.product.name }}</span>

                    <div class="flex gap-4 font-semibold text-lg">
                        <span>
                            $ {{ item.price | number : '1.2-2' : 'en-US'}}
                        </span>

                        <span> X </span>

                        <div class="flex gap-2 items-center">
                            <i class="pi pi-minus p-2 border border-gray-300 cursor-pointer" style="font-size: 10px;"
                                (click)="onDecreaseQuantityClick($index)"></i>
                            {{ item.quantity }}
                            <i class="pi pi-plus p-2 border border-gray-300 cursor-pointer" style="font-size: 10px;"
                                (click)="onIncreaseQuantityClick($index)"></i>
                        </div>

                        <span>
                            =
                        </span>

                        <span>
                            $ {{ item.price * item.quantity | number : '1.2-2' : 'en-US' }}
                        </span>
                    </div>

                    @if (isPizza(item.product)) {

                    <p-select [options]="item.product.sizes" [(ngModel)]="item.size" optionLabel="size"
                        optionValue="size" placeholder="Select a size" appendTo="body" class="w-full md:w-56" />
                    }

                </div>

                <div class="w-full flex justify-end gap-2 items-center">

                    @if (isPizza(item.product) && item.quantity > 1) {
                    <button pButton label="Split item" icon="pi pi-arrow-up-right-and-arrow-down-left-from-center"
                        iconPos="right"></button>
                    }

                    <button pButton label="Remove item" icon="pi pi-trash" iconPos="right" severity="danger"></button>
                </div>
            </div>
        </div>
        <hr class="text-gray-400">
        }

    </div>

    <ng-template #footer>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="danger" (click)="onDismiss.emit()" />
            <p-button label="PLACE ORDER" (click)="handlePlaceOrder()" severity="info" />
        </div>
    </ng-template>

</p-dialog>